/* Add CSS styling here */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    max-width: 100%;
    border: 1px solid grey; 
}

.container {
    background: lightblue; 
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

header h2{
    text-align: center;
}

.mainImg {
    width: 80%;
    height: 400px;
    background-image: url("../Images/mountains.jpg");
    margin: 0 auto;
}